# Dependencies
node_modules
.pnpm-store
package.json

# Build outputs
dist
build
out
*.tsbuildinfo

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs

# Environment
.env
.env.local

# Installer outputs
*.exe
*.msi
release

# Database (local development)
*.db
*.db-journal
*.db-shm
*.db-wal

apps/desktop/C:\\ProgramData\\OfflineLearningApp/*

# Videos
installer-assets/assets/videos/*
installer-assets/assets/videos2/*
scratch
scratch/*
certs/*
certs

# models
packages/backend/stt-engine/SraVaani-live-0.5-onnx-export-v2/*
packages/backend/stt-engine/sherpa-onnx-streaming-zipformer-en-20M-2023-02-17/*
packages/backend/stt-engine/sravaani_onnx/*
packages/backend/stt-engine/sherpa-onnx-streaming-zipformer-indian-en/*